<!DOCTYPE html>
<html>
  <head>
    <title>NPA Monitoring System</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>
  <body>
    <div class="container-fluid">
      <% if controller_name == "sessions" || controller_name == "passwords" || controller_name == "registrations"%>
        <div class="notifications">
          <% if notice %>
            <p class="alert alert-success text-center"><%= notice %></p>
          <% end %>
          <% if alert %>
            <p class="alert alert-danger text-center"><%= alert %></p>
          <% end %>
        </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
